# docker-compose for EIDA-manager

version: '3.3'
services:

  # Driver for the SeisComP3 database
  mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./data/mysql:/var/lib/mysql

  # Default MongoDB image for users, sessions, etc..
  # Mount volume for persistent data storage
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./data/mongo:/data/db

  # EIDA Manager web application
  # Mount log folder and submitted metadata folder
  # Expose port 8088 to the outside
  eida-manager:
    image: eida-manager:1.0
    restart: always
    volumes:
      - ./logs:/home/sysop/logs
      - ./data/metadata:/home/sysop/metadata
      - ./prototypes:/home/sysop/prototypes
    ports:
      - 8088:8088
      - 8080:8080

  # NodeJS Seedlink latency connector
  # Can be pulled from https://github.com/Jollyfant/NodeJS-Seedlink-Latencies
  seedlink-latencies:
    image: seedlink-latencies:1.0
    restart: always
    ports:
      - 8087:8087
    environment:
      - "SERVICE_PORT=8087"

  # NodeJS Seedlink station connector
  # Can be pulled from https://github.com/Jollyfant/NodeJS-Seedlink-Stations
  seedlink-stations:
    image: seedlink-stations:1.0
    restart: always
    ports:
      - 8086:8086
    environment:
      - "SERVICE_PORT=8086"

  # Expose the data proxy
  seedlink-proxy:
    image: seedlink-proxy:1.0
    restart: always
    ports:
      - 8089:8089
    environment:
      - "SERVICE_PORT=8089"

  # Webservice for network DOIs
  doi-webservice:
    image: doi-webservice:1.0
    restart: always
    ports:
      - 8090:8090
    environment:
      - "SERVICE_PORT=8090"
