body {
  padding-bottom: 20px;
}

.btn-link {
  cursor: pointer;
}

#table-pagination {
  cursor: pointer;
}

.map-container-small {
  width: 50%;
}

#map {
  height: 400px;
  width: 100%;
}

.card .card-header.small {
  padding: 0px;
}

.center-text {
  text-align: center;
}

.tab-content {
  padding-top: 16px;
}

textarea {
  height: 100px;
}

.message-form {
  margin: 0 auto;
  width: 50%;
}

.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  border-radius: 0px;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
